/object_detection/yolo_fastestv2/results/
.idea
__pycache__
/object_detection/yolo_fastestv2/test_imgs/
Listings
Objects
/image_classification/ml_fastvit/test_imgs/
/image_classification/ml_fastvit/results/
