[submodule "common_utils/facelandmarks"]
	path = common_utils/facelandmarks
	url = https://github.com/HomiKetalys/facelandmarks
[submodule "object_detection/yolo_fastestv2/submodules/Yolo_FastestV2"]
	path = object_detection/yolo_fastestv2/submodules/Yolo_FastestV2
	url = https://github.com/HomiKetalys/Yolo-FastestV2
[submodule "common_utils/onnx2tflite"]
	path = common_utils/onnx2tflite
	url = https://github.com/HomiKetalys/onnx2tflite
[submodule "image_classification/ml_fastvit/submodules/ml_fastvit"]
	path = image_classification/ml_fastvit/submodules/ml_fastvit
	url = https://github.com/HomiKetalys/ml-fastvit
[submodule "object_detection/yolov10/submodules/yolov10"]
	path = object_detection/yolov10/submodules/yolov10
	url = https://github.com/HomiKetalys/yolov10
[submodule "object_detection/yolov10/submodules/FastestDet"]
	path = object_detection/yolov10/submodules/FastestDet
	url = https://github.com/HomiKetalys/FastestDet
[submodule "common_utils/tinyengine"]
	path = common_utils/tinyengine
	url = https://github.com/HomiKetalys/tinyengine
